<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <p class="notice">
        <%= message %>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      </p>
    <% end %>
  </div>
<% end %>
