<div class="grid">
  <div class="show">
    <div class='background-white'>
      <h1><%= @post.title %></h1>
      <% if user_signed_in?%>
          <p>Writen by: <em><%= @user.name %></em></p>
        <% else %>
          <p>Writen by: <em>Anonim</em></p>
        <% end %>
      <p><%= @post.content %></p>
    </div>
  </div>
  
  <div class="sidebar">
    <%= render 'posts/sidebar' %>
  </div>
</div>