<div class="grid">
  <div class="show">
    <div class='background-white'>
      <h1><%= @post.title %></h1>
      <% if user_signed_in?%>
          <h5><strong>Writen by</strong>: <em><%= @user.name %></em></h5>
        <% else %>
          <h5><strong>Writen by</strong>: <em>Anon</em></h5>
        <% end %>
      <p><%= @post.content %></p>
    </div>
  </div>
  
  <div class="sidebar">
    <%= render 'posts/sidebar' %>
  </div>
</div>