.index h1 {
  font-size: 20px;
  margin-bottom: 0px;
}

.index p {
  margin-top: 0px;
}

.index {
  margin-bottom: 1rem;
}

.background-white {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.index-item:not(:last-child) {
  border-bottom: 1px solid black;
}

.index-item {
  margin: 1rem 0 1rem 0;
  padding-bottom: 0.6rem;
  padding-left: 6px;
}