#login{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#login .background-white{
  padding-left: 1.8rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  width: clamp(200px, 25%, 30%);
}

#new_user input {
  outline: none;
  padding: 5px;
  width: 100%;
  margin: 5px 0px 5px 0px;
}

#new_user #user_remember_me{
  width: auto;
}

#new_user input[type=submit]{
  margin: 5px 0px 5px 0px;
  width: 100px;
}
