 /* The alert message box */
 .alert, .notice {
  font-size: smaller;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 169); /* Yellow */
  color: black;
  width: clamp(200px, 29%, 30%);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: rgb(78, 72, 72);
} 