<div id='notification'>
  <% if notice %>
    <p class="notice">
      <%= notice %>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </p>
  <% end %>
  
  <% if alert %>
    <p class="alert">
      <%= alert %>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </p>
  <% end %>
</div>